{% extends 'base-simples.html' %}
{% load staticfiles %}

{% block title %}Reportar Bug - AcadSocial{% endblock %}

{% block head %}
    <script src="{% static 'jquery/1.11.1/plugins/autosize/jquery.autosize.min.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('textarea').autosize();

            var nome = $('#nomeInput');
            var email = $('#emailInput');
            var assunto = $('#assuntoInput');
            var conteudo = $('#conteudoInput');

            $('#nomeID').val('');
            $('#emailID').val('');
            $('#conteudoID').val('');
            $('#assuntoID').val('');

            nome.on('keypress click', function() {
               $('#nomeWError').hide();
               $('#usuarioNFWError').hide();
            });

            email.on('keypress click', function() {
               $('#emailWError').hide();
               $('#usuarioNFWError').hide();
            });

            assunto.on('keypress click', function() {
               $('#assuntoWError').hide();
               $('#nonFWError').hide();
            });

            conteudo.on('keypress click', function() {
               $('#conteudoWError').hide();
               $('#nonFWError').hide();
            });

        });
    </script>
{% endblock %}

{% block body %}
    <div class="acad-title text-center">
        <a href="{% url 'index' %}"><b class="fa fa-graduation-cap"></b>Acad<b>Social</b></a>
    </div>
    <br><br>
    <div class="col-xs-6 col-xs-offset-3">
        <form method="post" action="" enctype="multipart/form-data" class="form-horizontal">
            {% csrf_token %}
            <fieldset>
                <div class="panel panel-default">
                    <div class="panel-body">

                        <legend>Reportar Bug</legend>

                        <div class="form-group" id="nomeInput">
                            <label class="col-xs-3 control-label">Nome</label>
                            <div class="col-xs-9">
                                {{ contato_form.nome }}
                                {% if contato_form.nome.errors %}
                                    {% for error in contato_form.nome.errors %}
                                        <span class="help-block alert alert-danger alert-dismissable" id="nomeWError">
                                            <button type="button" class="close" data-dismiss="alert">×</button>
                                            {{ error }}
                                        </span>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>

                        <div class="form-group" id="emailInput">
                            <label class="col-xs-3 control-label">E-mail</label>
                            <div class="col-xs-9">
                                {{ contato_form.email }}
                                {% if contato_form.email.errors %}
                                    {% for error in contato_form.email.errors %}
                                        <span class="help-block alert alert-danger alert-dismissable" id="emailWError">
                                            <button type="button" class="close" data-dismiss="alert">×</button>
                                            {{ error }}
                                        </span>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>

                        <div class="form-group" id="assuntoInput">
                            <label class="col-xs-3 control-label">Assunto</label>
                            <div class="col-xs-9">
                                {{ contato_form.assunto }}
                                {% if contato_form.assunto.errors %}
                                    {% for error in contato_form.nome.errors %}
                                        <span class="help-block alert alert-danger alert-dismissable" id="assuntoWError">
                                            <button type="button" class="close" data-dismiss="alert">×</button>
                                            {{ error }}
                                        </span>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>

                        <div class="form-group" id="conteudoInput">
                            <label class="col-xs-3 control-label">Conteúdo</label>
                            <div class="col-xs-9">
                                {{ contato_form.conteudo }}
                                {% if contato_form.conteudo.errors %}
                                    {% for error in contato_form.conteudo.errors %}
                                        <span class="help-block alert alert-danger alert-dismissable" id="conteudoWError">
                                            <button type="button" class="close" data-dismiss="alert">×</button>
                                            {{ error }}
                                        </span>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>

                        {% if contato_form.non_field_errors %}
                            {% for error in contato_form.non_field_errors %}
                                <br>
                                <span class="help-block alert alert-danger alert-dismissable" id="nonFWError">
                                    <button type="button" class="close" data-dismiss="alert">×</button>
                                    {{ error }}
                                </span>
                            {% endfor %}
                        {% endif %}

                        {% if email_enviado and email_enviado == 1 %}
                            <span class="help-block alert alert-info alert-dismissable">
                                <button type="button" class="close" data-dismiss="alert">×</button>
                                E-mail enviado com sucesso!
                            </span>
                        {% elif email_enviado and email_enviado == 0 %}
                            <span class="help-block alert alert-danger alert-dismissable">
                                <button type="button" class="close" data-dismiss="alert">×</button>
                                Ocorreu um erro e o e-mail não pôde ser enviado! Por favor, tente novamente mais tarde.
                            </span>
                        {% endif %}
                    </div>
                    <button type="submit" class="panel-footer btn btn-primary" name="bugForm" style="width:100%;">Enviar</button>
                </div>
            </fieldset>
        </form>
    </div>

{% endblock %}