{% extends 'base-logado-topo-vazio.html' %}
{% load staticfiles %}

{% block title %} Editar {{ grupo.nome }} - AcadSocial  {% endblock %}

{% block head %}
    <script src="{% static 'jquery/1.11.1/plugins/autosize/jquery.autosize.min.js' %}"></script>

    <script type="text/javascript">
        $(document).ready(function(){
            $('textarea').autosize();

            $('#nomeGrupoEditar').val('{{ grupo.nome }}');
            $('#descricaoGrupoEditar').val('{{ grupo.descricao }}');

            $('#nomeGrupoEditar').on('keypress click', function() {
               $('#nomeWError').hide();
               $('#nonFWError').hide();
            });

            $('#descricaoGrupoEditar').on('keypress click', function() {
               $('#descWError').hide();
               $('#nonFWError').hide();
            });
        });
    </script>
{% endblock %}

{% block top-navbar-right %}
    <li class="divider-vertical"></li>
    <li><a href="{% url 'index' %}"><i class="fa fa-home"></i> Página inicial</a></li>
    <li class="divider-vertical"></li>
    <li class="lista-active"><a href="{% url 'grupo-index' grupo.gid %}">
        <i class="fa fa-group"></i> {{ grupo.nome }}
    </a></li>
    <li class="divider-vertical"></li>
    <li><a href="{% url 'eventos-lista' grupo.gid %}">
        <i class="fa fa-calendar"></i> Eventos
    </a></li>
    <li class="divider-vertical"></li>
    <li><a href="{% url 'grupo-sobre' grupo.gid %}">
        <i class="fa fa-info-circle"></i> Sobre o Grupo
    </a></li>
    <li class="divider-vertical"></li>
{% endblock %}

{% block body %}
    <div class="vertical-space">
        <div class="col-xs-4">
            <div class="panel panel-default panel-bordeless">
                <div class="panel-heading text-center">
                    <span class="fa fa-group"></span> {{ grupo.nome }}
                </div>
                <div class="panel-body text-center">
                    <a href="{% url 'grupo-index' grupo.gid %}" class="feed-link">
                        <span class="profile-image-big fa fa-group" style="font-size:90pt;"></span>
                    </a>
                    <br>
                    <a href="" class="feed-link">
                        {{ grupo.nome }}
                    </a>
                    <br>
                    <span class="feed-datetime">
                        Criado por:
                    </span>
                    <br>
                    <a href="" class="feed-link">
                        {{ grupo.criado_por.full_name }}
                    </a>
                </div>
                <div class="panel-footer text-center" style="margin-top:0;">
                    Você administra este grupo!
                </div>
            </div>
            {% if membros|length == 1 %}
                <div class="panel panel-default panel-bordeless btn-panel">
                    <form method="POST">
                        {% csrf_token %}
                        <button class="panel-heading text-center" style="width:100%;" name="excluirGrupo">
                            <span class="fa fa-remove"></span> Excluir Grupo
                        </button>
                    </form>
                </div>
            {% endif %}
        </div>
        <div class="col-xs-8">
            <div class="panel panel-default panel-bordeless">
                <div class="panel-heading text-center">
                    <span class="fa fa-edit"></span> Editar Grupo
                </div>
            </div>
            <div class="panel panel-default panel-bordeless">
                <form method="post" action="" enctype="multipart/form-data" class="form-horizontal">
                    {% csrf_token %}
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-xs-3 control-label text-right">Nome do Grupo</label>
                            <div class="col-xs-9">
                                {{ editar_form.nome }}
                                {% if editar_form.nome.errors %}
                                    {% for error in editar_form.nome.errors %}
                                        <span class="help-block alert alert-danger alert-dismissable" id="nomeWError">
                                            <button type="button" class="close" data-dismiss="alert">×</button>
                                            {{ error }}
                                        </span>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-3 control-label text-right">Descrição</label>
                            <div class="col-xs-9">
                                {{ editar_form.descricao }}
                                {% if editar_form.descricao.errors %}
                                    {% for error in editar_form.descricao.errors %}
                                        <span class="help-block alert alert-danger alert-dismissable" id="descWError">
                                            <button type="button" class="close" data-dismiss="alert">×</button>
                                            {{ error }}
                                        </span>
                                    {% endfor %}
                                {% endif %}
                                {% if editar_form.non_field_errors %}
                                    {% for error in editar_form.non_field_errors %}
                                        <span class="help-block alert alert-danger alert-dismissable" id="nonFWError">
                                            <button type="button" class="close" data-dismiss="alert">×</button>
                                            {{ error }}
                                        </span>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <button class="panel-footer" type="submit">
                        Enviar
                    </button>
                </form>
            </div>
            <div class="col-xs-6">
                <div class="panel panel-default panel-bordeless btn-panel" onclick="location.href='{% url 'grupo-interesses' grupo.gid %}'">
                    <button class="panel-heading text-center" style="width:100%;">
                        <span class="fa fa-paint-brush"></span> Administrar Interesses
                    </button>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="panel panel-default panel-bordeless btn-panel">
                    <button class="panel-heading text-center" style="width:100%;" onclick="$('#changeAdminForm').show();">
                        <span class="fa fa-send"></span> Transferir Administração
                    </button>
                </div>
            </div>
            <div class="col-xs-12 no-left-padding no-right-padding" style="display:none" id="changeAdminForm">
                <div class="panel panel-default panel-bordeless btn-panel">
                    <form method="post" class="form-horizontal">
                        {% csrf_token %}
                        <div class="panel-body">
                            <div class="form-group">
                                <label class="col-xs-3 control-label text-right">Sel. Membro</label>
                                <div class="col-xs-9">
                                    {{ admin_form.membro }}
                                </div>
                            </div>
                        </div>
                        <button class="panel-footer" type="submit">
                            Enviar
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}