{% extends 'base-logado-com-topo.html' %}

{% block title %}
    {{ interesse.interesse }} - AcadSocial
{% endblock %}

{% block interests-active %}
    class='lista-active'
{% endblock %}

{% block body %}
    <div class="vertical-space">
        <div class="col-xs-4">
            <div class="panel panel-default panel-bordeless">
                <div class="panel-heading text-center truncate">
                    <span class="fa fa-paint-brush"></span> {{ interesse.interesse }}
                </div>
                <div class="panel-body text-center">
                    <a href="{% url 'interesse-index' interesse.iid %}" class="feed-link">
                        <span class="profile-image-big fa fa-paint-brush" style="font-size:90pt;"></span>
                    </a>
                    <br>
                    <div class="feed-datetime" style="margin-top:10px;">
                        Adicionado por:
                    </div>
                    <a href="{% url 'perfil' interesse.criado_por.perfilmodel.universidade.sigla_campus interesse.criado_por.perfilmodel.perfil_link %}" class="feed-link">
                        {{ interesse.criado_por.full_name }}
                    </a>
                    <br>
                    <span class="feed-datetime">
                        {{ interesse.data_criacao }}
                    </span>
                </div>
                {% if user in usuarios %}
                    <div class="panel-footer text-center" style="margin-top:0;">
                        Você já possui este interesse!
                    </div>
                {% else %}
                    <form method="POST">
                        {% csrf_token %}
                        <button class="panel-footer text-center" style="margin-top:0;" name="adicionarInteresse">
                            <span class="glyphicon glyphicon-plus-sign"></span> Adicionar Interesse
                        </button>
                    </form>
                {% endif %}
            </div>
            {% if user in usuarios %}
                <form method="POST">
                    {% csrf_token %}
                    <div class="panel panel-default panel-bordeless btn-panel">
                        <button class="panel-heading text-center" style="width:100%;" name="removerInteresse">
                            <span class="glyphicon glyphicon-remove"></span> Remover Interesse
                        </button>
                    </div>
                </form>
            {% endif %}
            <div class="panel panel-default panel-bordeless">
                <div class="panel-heading text-center truncate">
                    <span class="fa fa-group"></span> Grupos relacionados
                </div>
                {% if grupos_interesse|length == 0 %}
                    <ul class="panel-list">
                        <li class="not-link-list text-center" style="">Não há grupos relacionados à este interesse!</li>
                    </ul>

                {% else %}
                    <ul class="panel-list">
                        {% for g_interesse in grupos_interesse %}
                            <li><a href="{% url 'grupo-index' g_interesse.grupo.gid %}">{{ g_interesse.grupo.nome }}</a></li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <div class="panel-footer">

                </div>
            </div>
        </div>
        <div class="col-xs-8">
            <div class="col-xs-12">
                <div class="panel panel-default panel-bordeless">
                    <div class="panel-heading text-center">
                        {% if usuarios_interesse|length == 0 %}
                            <span class="fa fa-users"></span> Nenhum usuários possui este interesse
                        {% elif usuarios_interesse|length == 1 %}
                            <span class="fa fa-users"></span>&nbsp; 1 usuário possui este interesse
                        {% else %}
                            <span class="fa fa-users"></span>&nbsp; {{ usuarios_interesse|length }} usuários possuem este interesse
                        {% endif %}
                    </div>
                </div>
            </div>
            {% if usuarios_interesse|length == 0 %}
                <div class="col-xs-12">
                    <div class="panel panel-default panel-bordeless">
                        <div class="panel-heading text-center">
                            Nada foi encontrado!
                        </div>
                        <div class="panel-body text-center">
                            <span class="fa fa-frown-o" style="font-size:200pt;"></span>
                            <div class="search-error">
                                Não existem usuários que possuem este interesse!
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
                {% for usuario, usuario_foto in usuarios.iteritems %}
                    <div class="col-xs-6" style="margin-top:-5px;">
                        <div class="panel panel-default panel-bordeless">
                            <ul class="panel-list panel-list-friends" style="margin-bottom:0;">
                                <li><a href="{% url 'perfil' usuario.perfilmodel.universidade.sigla_campus usuario.perfilmodel.perfil_link %}" style="padding-left:0;">
                                    <img style="border-right:3px solid #e7e7e7;" src="/media/{{ usuario_foto.thumbnail }}">
                                    &nbsp;&nbsp;{{ usuario.full_name|capfirst }}
                                </a></li>
                            </ul>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}