{% extends 'base-logado-topo-vazio.html' %}
{% load grupos_tags %}

{% block title %}
    Eventos - {{ grupo.nome }} - AcadSocial
{% endblock %}

{% block head %}

{% endblock %}

{% block top-navbar-right %}
    <li class="divider-vertical"></li>
    <li><a href="{% url 'index' %}"><i class="fa fa-home"></i> Página inicial</a></li>
    <li class="divider-vertical"></li>
    <li><a href="{% url 'grupo-index' grupo.gid %}">
        <i class="fa fa-group"></i> {{ grupo.nome }}
    </a></li>
    <li class="divider-vertical"></li>
    <li class="lista-active"><a href="{% url 'eventos-lista' grupo.gid %}">
        <i class="fa fa-calendar"></i> Eventos
    </a></li>
    <li class="divider-vertical"></li>
    <li><a href="{% url 'grupo-sobre' grupo.gid %}">
        <i class="fa fa-info-circle"></i> Sobre o Grupo
    </a></li>
    <li class="divider-vertical"></li>
{% endblock %}

{% block body %}
    <div class="vertical-space">
        <div class="col-xs-4">
            <div class="panel panel-default panel-bordeless">
                <div class="panel-heading text-center">
                    <span class="fa fa-group"></span> {{ grupo.nome }}
                </div>
                <div class="panel-body text-center">
                    <a href="{% url 'grupo-index' grupo.gid %}" class="feed-link">
                        <span class="profile-image-big fa fa-group" style="font-size:90pt;"></span>
                    </a>
                    <br>
                    <a href="{% url 'grupo-sobre' grupo.gid %}" class="feed-link">
                        {% if qtd_membros == 1 %}
                            1 membro
                        {% else %}
                            {{ qtd_membros }} membros
                        {% endif %}
                    </a>
                    <br>
                    <span class="feed-datetime">
                        {% if qtd_eventos == 0 %}
                            {% if filtro == 'inativos' %}
                                Não há eventos inativos neste grupo
                            {% elif filtro == 'cancelados' %}
                                Não há eventos cancelados neste grupo
                            {% else %}
                                Não há eventos ativos neste grupo
                            {% endif %}
                        {% elif qtd_eventos == 1 %}
                            {% if filtro == 'inativos' %}
                                1 evento inativo
                            {% elif filtro == 'cancelados' %}
                                1 evento cancelado
                            {% else %}
                                1 evento ativo
                            {% endif %}
                        {% else %}
                            {% if filtro == 'inativos' %}
                                {{ qtd_eventos }} eventos inativos
                            {% elif filtro == 'cancelados' %}
                                {{ qtd_eventos }} eventos cancelados
                            {% else %}
                                {{ qtd_eventos }} eventos ativos
                            {% endif %}
                        {% endif %}
                    </span>
                </div>
                {% if membro and membro.is_admin %}
                    <div class="panel-footer text-center" style="margin-top:0;">
                        Você administra este grupo!
                    </div>
                {% elif membro %}
                    <div class="panel-footer text-center" style="margin-top:0;">
                        Você é membro deste grupo!
                    </div>
                {% endif %}
            </div>
            {% if membro  %}
                <div class="panel panel-default panel-bordeless btn-panel">
                    <button class="panel-heading text-center" style="width:100%;" name="criarEvento" onclick="location.href='{% url 'evento-criar' grupo.gid %}'">
                        <span class="fa fa-calendar"></span> &nbsp;Criar Evento
                    </button>
                </div>

                <div class="panel panel-default panel-bordeless">
                    <div class="panel-heading text-center" style="width:100%;">
                        <span class="fa fa-power-off"></span> &nbsp;Filtros
                    </div>
                    <ul class="panel-list">
                        <li {% if filtro == 'ativos' %}class="lista-active"{% endif %}>
                            <a href="?evt=ativos">
                                <span class="fa fa-check"></span> &nbsp;Ativos
                            </a>
                        </li>
                        <li {% if filtro == 'inativos' %}class="lista-active"{% endif %}>
                            <a href="?evt=inativos">
                                <span class="fa fa-power-off"></span> &nbsp;Inativos
                            </a>
                        </li>
                        <li {% if filtro == 'cancelados' %}class="lista-active"{% endif %}>
                            <a href="?evt=cancelados">
                                <span class="fa fa-trash"></span> &nbsp;Cancelados
                            </a>
                        </li>
                    </ul>
                    <div class="panel-footer"></div>
                </div>
            {% endif %}
        </div>
        <div class="col-xs-8">
            {% for evento in eventos %}
                <div class="col-xs-7 no-right-padding no-left-padding">
                    <div class="panel panel-default panel-bordeless feed">
                        <div class="panel-heading truncate">
                            <a href="{% url 'grupo-evento' grupo.gid evento.eid %}"><span class="fa fa-calendar"></span> &nbsp;{{ evento.titulo }}</a>
                        </div>
                        <div class="panel-body text-left truncate-line feed-group">
                            {{ evento.descricao }}
                        </div>
                        <div class="panel-heading perfil-about-heading" style="background: #f9f9f9;">
                            <span class="fa fa-info-circle"></span> &nbsp;Informações do Evento:
                        </div>
                        <div class="panel-heading perfil-about-body">
                            <span class="fa fa-clock-o"></span> &nbsp;{{ evento.data_evento|date:"d/m/Y - H:i" }}
                        </div>
                        <div class="panel-heading perfil-about-body">
                            <span class="fa fa-globe"></span> &nbsp;{{ evento.local_evento }}
                        </div>
                        <div class="panel-footer" style="margin:0;"></div>

                    </div>
                </div>
                <div class="col-xs-5">
                    {% if filtro == 'inativos' %}
                        <div class="panel panel-default panel-bordeless">
                            <div class="panel-heading text-center truncate">
                                <a href=""><span class="fa fa-calendar"></span> &nbsp;{{ evento.titulo }}</a>
                            </div>
                            <div class="panel-body text-center truncate">
                                <a href="" class="feed-link">
                                    <span class="profile-image fa fa-calendar" style="font-size:60pt;"></span>
                                </a>
                                <br>
                                <span class="feed-datetime">
                                    Criado por:
                                </span>
                                <br>
                                <span class="feed-link">
                                    <a href="{% url 'perfil' evento.criado_por.perfilmodel.universidade.sigla_campus evento.criado_por.perfilmodel.perfil_link %}">
                                        {{ evento.criado_por.full_name }}
                                    </a>
                                </span>
                            </div>
                            <div class="panel-footer text-center">
                                Este evento já ocorreu!
                            </div>
                        </div>
                    {% elif filtro == 'cancelados' %}
                         <div class="panel panel-default panel-bordeless">
                             <div class="panel-heading text-center truncate">
                                <a href=""><span class="fa fa-calendar"></span> &nbsp;{{ evento.titulo }}</a>
                             </div>
                             <div class="panel-body text-center truncate">
                                <a href="" class="feed-link">
                                    <span class="profile-image fa fa-calendar" style="font-size:60pt;"></span>
                                </a>
                                <br>
                                <span class="feed-datetime">
                                    Criado por:
                                </span>
                                <br>
                                <span class="feed-link">
                                    <a href="{% url 'perfil' evento.criado_por.perfilmodel.universidade.sigla_campus evento.criado_por.perfilmodel.perfil_link %}">
                                        {{ evento.criado_por.full_name }}
                                    </a>
                                </span>
                             </div>
                             {% if user == evento.criado_por %}
                                 <form method="POST">
                                    {% csrf_token %}
                                    <button class="panel-footer" name="restaurarEvento" value="{{ evento.eid }}">Restaurar Evento</button>
                                 </form>
                             {% else %}
                                <div class="panel-footer text-center">
                                    Este evento foi cancelado!
                                </div>
                             {% endif %}
                        </div>
                    {% else %}
                        <div class="panel panel-default panel-bordeless">
                            <div class="panel-heading text-center truncate">
                                <a href="{% url 'grupo-evento' grupo.gid evento.eid %}"><span class="fa fa-calendar"></span> &nbsp;{{ evento.titulo }}</a>
                            </div>
                            <div class="panel-body text-center truncate">
                                <a href="{% url 'grupo-evento' grupo.gid evento.eid %}" class="feed-link">
                                    <span class="profile-image fa fa-calendar" style="font-size:60pt;"></span>
                                </a>
                                <br>
                                <span class="feed-datetime">
                                    Criado por:
                                </span>
                                <br>
                                <span class="feed-link">
                                    <a href="{% url 'perfil' evento.criado_por.perfilmodel.universidade.sigla_campus evento.criado_por.perfilmodel.perfil_link %}">
                                        {{ evento.criado_por.full_name }}
                                    </a>
                                </span>
                            </div>

                            {% if participando|item:evento %}
                                <form method="POST">
                                    {% csrf_token %}
                                    <button class="panel-footer" name="sairEvento" value="{{ evento.eid }}">
                                        Sair do Evento
                                    </button>
                                </form>
                            {% else %}
                                <form method="POST">
                                    {% csrf_token %}
                                    <button class="panel-footer" name="participarEvento" value="{{ evento.eid }}">
                                        Participar
                                    </button>
                                </form>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
            <div class="col-xs-12 no-left-padding">
                <div class="panel panel-default text-center panel-bordeless" style="background:#f9f9f9;">
                    <ul class="panel-body pagination" style="margin-top:0;margin-bottom:0;padding:15px;">
                        {% if not eventos.has_previous %}
                            <li class="disabled" ><a href=""><<</a></li>
                        {% else %}
                            <li><a href="?pg={{ eventos.previous_page_number }}"><<</a></li>
                        {% endif %}
                            <li class="disabled"><a href="">Página {{ eventos.number }} de {{ eventos.paginator.num_pages }}</a></li>
                        {% if not eventos.has_next %}
                            <li class="disabled" ><a href="">>></a></li>
                        {% else %}
                            <li><a href="?pg={{ eventos.next_page_number }}">>></a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
