@import url(http://fonts.googleapis.com/css?family=Josefin+Sans:400,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700);

body {
	background: #F5F5F5;
	font-family: 'Open Sans', sans-serif;
	font-size: 11pt;
	color: #555;
    min-width: 992px;
    width: auto;
}

html {
    overflow-y: scroll;
    overflow-x: visible;
}

a,
a:link,
a:visited  {
	text-decoration: none;
	color: #7C0B1F;
}

a:hover,
a:active {
	text-decoration: none;
	color: #555;
}

b {
	font-weight: 600;
}

legend {
    color: #7C0B1F;
}

.ultra-bold {
    font-weight: 700;
}

.full-width {
    width:100%;
}

.acad-title > a {
    font-family: Josefin Sans, sans-serif;
    color: #555;
    font-size: 80pt;
    font-weight: 700;
}

.acad-title > a > b {
    color: #7C0B1F;
    font-weight: 700;
}

.acad-title-white > a {
    font-family: Josefin Sans, sans-serif;
    color: #fff;
    font-size: 80pt;
    font-weight: 700;
}


.footer {
    background-color: #7C0B1F;
    width: 100%;
    height: 60px;
}

.navbar-default {
	background-color: #FFFFFF;
	border: 0;
	border-bottom: 1px solid #e7e7e7;
}

.navbar-default .navbar-brand {
	font-family: Josefin Sans, sans-serif;
	font-weight: 700;
	font-size: 20pt;
	color: #555;
	background: transparent;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
	color: #7C0B1F;
}

.navbar-default .navbar-brand > b {
	color: #7C0B1F;
}

.navbar-default .navbar-brand:hover > b,
.navbar-default .navbar-brand:focus > b {
	color: #555;
}

.navbar-default .navbar-nav > li > a {
  	color: #777;
	font-weight: 600;
	background: transparent;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  	color: #7C0B1F;
	background: transparent;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  	color: #7C0B1F;
  	background-color: transparent;
}

.panel-default {
	border-radius: 0;
    border: 1px solid #e7e7e7;
}

.panel-default .panel-body {
	padding: 25px;
}

.panel-default .panel-heading {
	background: #7C0B1F;
	color: #fff;
	border-radius: 0;
	border-bottom: 1px solid #eee;
}

.panel-default .panel-footer {
	border-radius: 0;
    background: #7C0B1F;
}

.panel-dropdown {
    border: 1px solid #e7e7e7;
    border-radius: 0;
    padding: 0 0 0 0;
}

.panel-dropdown .panel-list > li > a {
    display: block;
    width: 100%;
    height: 35px;
    line-height: 36px;
    padding-right: 20px;
    padding-left: 20px;
    background: #fff;
    font-size: 11.5pt;
    font-family: Josefin Sans, sans-serif;
    font-weight: 700;
    border-top: 1px solid #f5f5f5;
}

.panel-dropdown .panel-list > li > a:hover {
    background: #fafafa;
    color: #555;
}

.panel-bordeless > ul,
.panel-dropdown > ul {
    list-style-type: none;
    margin-left: -40px;
}

.panel-bordeless {
    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, .075);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, .03);
    -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, .075);
}

.panel-bordeless .panel-heading {
    background: #f8f8f8;
    border: 0;
    color: #7C0B1F;
    font-family: Josefin Sans, sans-serif;
    font-weight: 700;
    font-size: 12pt;
}

.panel-bordeless .panel-footer {
    background: #f8f8f8;
    border: 0;
    color: #7C0B1F;
    font-family: Open Sans, sans-serif;
    font-weight: 700;
    font-size: 10pt;
    display:block;
    width: 100%;
    height: 100%;
    border-top: 1px solid #f2f2f2;
    margin-top: -10px;
}

.panel-bordeless .panel-footer:hover {
    color: #555;
    background: #f7f7f7;
}

.panel-bordeless .panel-list .not-link-list {
    height: 100px;
    line-height: 100px;
    border-top: 1px solid #f2f2f2;
    font-size: 10pt;
}

.panel-bordeless .panel-list > li > a {
    display: block;
    width: 100%;
    height: 35px;
    line-height: 37px;
    font-weight: 700;
    padding-right: 20px;
    padding-left: 20px;
    background: #fff;
    color: #555;
    font-size: 10.5pt;
    border-left: 5px solid #f0f0f0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow:hidden;
}

.panel-bordeless .panel-list > li > a:hover {
    background: #fbfbfb;
    color: #7C0B1F;
    border-left: 5px solid #7C0B1F;
}

.panel-bordeless .panel-list-friends > li > a {
    height: 45px;
    line-height: 46px;
}

.btn-default {
	border-radius: 0;
	background-color: #eee;
    color: #7C0B1F;
	border: 1px solid #eee;
	font-weight: 600;
}

.btn-default:hover,
.btn-default:focus {
	border-radius: 0;
    color: #555;
	background-color: #e9e9e9;
	border: 1px solid #e9e9e9;
}

.btn-primary {
	border-radius: 0;
	background-color: #7C0B1F;
	border: 1px solid #7C0B1F;
	font-weight: 600;
}

.btn-primary:hover,
.btn-primary:focus {
	border-radius: 0;
	background-color: #555;
	border: 1px solid #555;
}

.input-group-btn .btn-link {
	border-radius: 0;
	border: 1px solid #ccc;
	background: #ffffff;
	color: #555;
}

.input-group-btn .btn-link:hover,
.input-group-btn .btn-link:focus {
	border-radius: 0;
	background: #f4f4f4;
	border: 1px solid #ccc;
	color: #333;
	text-decoration: none;
}

.input-group-btn .btn-default {
	border-radius: 0;
	border: 1px solid #ccc;
	background: #ffffff;
	color: #7C0B1F;
}

.input-group-btn .btn-default:hover,
.input-group-btn .btn-default:focus {
	border-radius: 0;
	background: #fff;
	border: 1px solid #ccc;
	color: #555;
	text-decoration: none;
}

.search-bar {
    margin-top: 11px;
    margin-left: 3px;
    width: 400px;
}

.search-bar .form-control {
    height: 30px;
    border-right: 0;
    background-color: #fff;
}

.search-bar .form-control:focus,
.comment-bar-focus .form-control:focus {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.search-bar .input-group-btn .btn-default {
    border-left: 0;
    height: 30px;
    line-height: 5px;
    font-size: 11pt;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-control {
	border-radius: 0;
}

textarea.form-control {
	resize: none;
}

.form-control:focus {
  border-color: #ccc;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(194,194,194, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(194,194,194, .6);
}

.has-error .form-control {
  border-color: #CE8483;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}
.has-error .form-control:focus {
  border-color: #CE8483;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 3px #ce8483;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 3px #ce8483;
}
.has-error .input-group-addon {
  color: #f2dede;
  background-color: #7C0B1F;
  border-color: #CE8483;
}

.login-dropdown {
	border-radius: 0;
	width: 300px;
}

.dropdown-menu > li > a {
    color: #7C0B1F;
}

.alert-danger {
	border-radius: 0;
	margin-bottom: -5px;
	font-size: 10pt;
	padding: 10px 35px 10px 10px;
    border: 1px solid #EBCCD1;
    color: #A94442;
    background-color: #F2DEDE;
}

.alert-warning {
	border-radius: 0;
	margin-bottom: -5px;
	font-size: 10pt;
	padding: 10px 35px 10px 10px;
}

.input-group-addon {
    border-radius: 0;
    background-color: #f1f1f1;
}

.blank-divider-vertical {
    height: 50px;
    margin: 0 16px 0 0;
}

.divider-vertical {
    height: 20px;
    border-right: 1px solid #ffffff;
    border-left: 1px solid #f2f2f2;
    margin: 30px -1px 0 0;
}

.usuario-info-topo {
    background: #f9f9f9;
    margin-top: -20px;
    height: 55px;
    border-top: 2px solid #fff;
    border-bottom: 3px solid #e7e7e7;
}

.info-topo-panel {
    margin-top: -8px;
}


.info-topo-nome {
    font-family: Josefin Sans, sans-serif;
    font-size: 13pt;
    font-weight: 700;
    color: #7C0B1F;
}

.navbar .navbar-nav .info-topo-nome > a {
    color: #7C0B1F;
}

.navbar .navbar-nav .info-topo-nome > a:hover {
    color: #555;
}

.info-topo-lista > li > a {
    height: 53px;
    line-height: 40px;
    border-bottom: 3px solid #e7e7e7;
    font-size: 12.3pt;
    font-family: Josefin Sans, sans-serif;
    background-color: transparent;
}

.info-topo-lista > li > a:hover {
    border-bottom: 3px solid #7C0B1F;
    background-color: transparent;
}

.navbar-default .navbar-nav .lista-active > a,
.navbar-default .navbar-nav .lista-active > a:hover {
    height: 53px;
    line-height: 40px;
    border-bottom: 3px solid #7C0B1F;
    background-color: transparent;
    color: #7C0B1F;
}

.profile-image {
    border: 4px solid #e7e7e7;
    border-radius: 100px;
}

.profile-image-big {
    border: 6px solid #e7e7e7;
    border-radius: 100px;
}

.vertical-space {
    margin-top: 22px;
}

.square {
    border-radius: 0;
}

.image-format {
    border: 1px solid #ddd;
    pointer-events: none;
}

.notifications-dropdown {
    width:400px;
}

.notifications-icon {
    font-family: Open Sans, sans-serif;
    font-size: 10pt;
}

.no-padding {
    padding: 0;
}

.feed-padding {
    padding-left: 12px;
    padding-right: 12px;
}

.no-left-padding {
    padding-left: 0; !important;
}

.no-top-padding {
    padding-top: 0; !important;
}

.no-right-padding {
    padding-right: 0; !important;
}

.top-margin-10 {
    margin-top: -10px; !important;
}

.feed-margin {
    margin-top: -10px;
}

.feed-user {
    border: 2px solid #e7e7e7;
    border-radius: 10px;
}

.feed-mid-font {
    font-size: 9pt;
    font-family: Open Sans, sans-serif;
    font-weight: 400;
    color: #555;
}

.feed-posted-in {
    font-family: Open Sans, sans-serif;
    font-weight: 400;
    color: #555;
    font-size: 9.5pt;
}

.feed-group-link {
    font-size: 9pt;
    font-family: Open Sans, sans-serif;
    font-weight: 400;
}

.feed-group {
    margin-top:-15px;
    min-height: 107px;
    font-size: 10pt;
}

.feed-datetime {
    font-family: Open Sans, sans-serif;
    font-size: 8pt;
    font-weight: 400;
    color: #555;
}

.feed-calendar {
    font-size: 11pt;
    font-weight: 400;
}

.feed .panel-heading {
    background: #fff;
}

.truncate {
    max-width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow:hidden;
}

.truncate-line {
    max-width: 100%;
    text-overflow: ellipsis;
    overflow:hidden;
    word-wrap: break-word;
}

.feed-link {
    font-family: Josefin Sans, sans-serif;
    font-weight: 700;
    font-size: 12pt;
}

.feed-heading {
    background: #fff;
}

.feed-heading > a {
    font-size: 10.5pt;
}

.comment-bar {
    font-weight: 400;
    font-size: 10pt;
}

textarea.comment-bar {
    resize: vertical;
    height: 0;
}

.comment-start {
    border-top: 1px solid #f2f2f2;
}

.comment-image {
    border-radius: 20px;
    border: 4px solid #e7e7e7;
}

.comment-user  {
    font-size: 10pt;
}

.comment-user > a {
    font-size: 11pt;
    font-family: Josefin Sans, sans-serif;
    font-weight: 700;
}

.comment-datetime {
    font-size: 8pt;
}

.pagination {
    border-radius: 0;
    font-weight: 700;
    font-size: 12pt;
}

.pagination > li > a,
.pagination > li > span {
    font-family: Josefin Sans, sans-serif;
    font-size: 11pt;
    float: none;
    color: #7C0B1F;
    background-color: #fff;
    border: 1px solid #e7e7e7;
}

.pagination > li:first-child > a,
.pagination > li:first-child > span {
    border-radius: 0;
    font-family: Josefin Sans, sans-serif;
}

.pagination > li:last-child > a,
.pagination > li:last-child > span {
    border-radius: 0;
    font-family: Josefin Sans, sans-serif;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
    color: #999;
    background-color: #fff;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    font-family: Josefin Sans, sans-serif;
    font-size: 11pt;
    background-color: #7C0B1F;
    border-color: #7C0B1F;
}

.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
    font-family: Josefin Sans, sans-serif;
    font-size: 11pt;
    color: #555;
    cursor: default;
}

.panel-bordeless .panel-list .lista-active > a {
    border-left: 5px solid #7C0B1F;
    border-radius: 0;
    color: #7C0B1F;
    font-weight: 700;
}

.panel-bordeless .perfil-about-heading {
    border-left:5px solid #7C0B1F;
    padding:5px 10px 5px 10px;
}

.panel-bordeless .perfil-about-body {
    border-left:5px solid #555;
    padding:5px 10px 5px 10px;
    font-family: Open Sans, sans-serif;
    font-size: 10pt;
    background: #fff;
    color: #555;
    font-weight: 700;
}

.panel-bordeless .border-sides {
    border-left: 5px solid #fafafa;
    border-right: 5px solid #fafafa;
}

.search-error {
    font-size: 20pt;
    font-family: Josefin Sans, sans-serif;
    font-weight: 700;
    padding: 10px 20px 20px 20px;
}

.search-error-data {
    color: #7C0B1F;
}

.btn-panel .panel-heading:hover {
    color: #555;
}

.search-bar-interesse {
    font-size: 10pt;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}