{% extends 'base-sem-cadastro.html' %}
{% load staticfiles %}

{% block title %}Cadastro{% endblock %}

{% block head %}
    <script type="text/javascript">
        $(document).ready(function(){
            $('input[id=imageID]').change(function() {
                $('#imageName').val($(this).val());
            });

            $.ajax({
                url: '{% static 'text/termoscondicoes.txt' %}',
                dataType: 'text',
                success: function (data) {
                    $('#termosCondicoes').html(data);
                }
            });

            $('#nomeInput').on('keypress click', function() {
               $('#nomeWError').hide();
               $('#usuarioNFWError').hide();
            });

            $('#sobrenomeInput').on('keypress click', function() {
               $('#sobrenomeWError').hide();
               $('#usuarioNFWError').hide();
            });

            $('#emailInput').on('keypress click', function() {
               $('#emailWError').hide();
               $('#usuarioNFWError').hide();
            });

            $('#senhaInput').on('keypress click', function() {
               $('#senhaWError').hide();
               $('#usuarioNFWError').hide();
            });

            $('#senhaConfInput').on('keypress click', function() {
               $('#senhaConfWError').hide();
               $('#usuarioNFWError').hide();
            });

            $('#fotoInput').on('keypress click', function() {
               $('#fotoWError').hide();
               $('#fotoNFWError').hide();
            });

            $('#universidadeInput').on('keypress click', function() {
               $('#universidadeWError').hide();
            });

            $('#cursoInput').on('keypress click', function() {
               $('#cursoWError').hide();
            });

            $('#nascimentoInput').on('keypress click', function() {
               $('#perfilNFWError').hide();
            });

            $('#termosInput').on('keypress click', function() {
               $('#perfilNFWError').hide();
            });

        });
    </script>
{% endblock %}

{% block body %}
    <div class="acad-title text-center">
        <a href="{% url 'index' %}"><b class="fa fa-graduation-cap"></b>Acad<b>Social</b></a>
    </div>
    <br><br>
    <div class="col-xs-6">
        <form method="post" action="" enctype="multipart/form-data" class="form-horizontal">
            {% csrf_token %}
            <fieldset>
                <div class="panel panel-default">
                    <div class="panel-body">

                        <legend>Cadastre-se no AcadSocial</legend>

                        <div class="form-group" id="nomeInput">
                            <label class="col-xs-3 control-label">Nome</label>
                            <div class="col-xs-9">
                                {{ usuario_form.first_name }}
                                {% if usuario_form.first_name.errors %}
                                    {% for error in usuario_form.first_name.errors %}
                                        <span class="help-block alert alert-danger alert-dismissable" id="nomeWError">
                                            <button type="button" class="close" data-dismiss="alert">×</button>
                                            {{ error }}
                                        </span>
                                    {% endfor %}
                                {% endif %}
                            </div>

                        </div>

                        <div class="form-group" id="sobrenomeInput">
                            <label class="col-xs-3 control-label">Sobrenome</label>

                            <div class="col-xs-9">
                                {{ usuario_form.last_name }}
                                {% if usuario_form.last_name.errors %}
                                    {% for error in usuario_form.last_name.errors %}
                                        <span class="help-block alert alert-danger alert-dismissable" id="sobrenomeWError">
                                            <button type="button" class="close" data-dismiss="alert">×</button>
                                            {{ error }}
                                        </span>
                                    {% endfor %}
                                {% endif %}
                            </div>

                        </div>

                        <div class="form-group" id="emailInput">

                            <label class="col-xs-3 control-label">E-mail</label>

                            <div class="col-xs-5" style="padding-right: 0;">
                                {{ usuario_form.email_front }}
                            </div>

                            <div class="col-xs-4">
                                {{ usuario_form.email_back }}
                            </div>

                            <div class="col-xs-9 col-xs-offset-3">
                                {% if usuario_form.email.errors %}
                                    {% for error in usuario_form.email.errors %}
                                        <span class="help-block alert alert-danger alert-dismissable" id="emailWError">
                                            <button type="button" class="close" data-dismiss="alert">×</button>
                                            {{ error }}
                                        </span>
                                    {% endfor %}
                                {% endif %}
                            </div>

                        </div>
                        <div class="form-group" id="senhaInput">
                            <label class="col-xs-3 control-label">Senha</label>
                            <div class="col-xs-9">
                                {{ usuario_form.password }}
                                {% if usuario_form.password.errors %}
                                    {% for error in usuario_form.password.errors %}
                                        <span class="help-block alert alert-danger alert-dismissable" id="senhaWError">
                                            <button type="button" class="close" data-dismiss="alert">×</button>
                                            {{ error }}
                                        </span>
                                    {% endfor %}
                                {% endif %}
                            </div>

                        </div>

                        <div class="form-group" id="senhaConfInput">

                            <label class="col-xs-3 control-label"></label>

                            <div class="col-xs-9">
                                {{ usuario_form.password_conf }}
                                {% if usuario_form.password_conf.errors %}
                                    {% for error in usuario_form.password_conf.errors %}
                                        <span class="help-block alert alert-danger alert-dismissable" id="senhaConfWError">
                                            <button type="button" class="close" data-dismiss="alert">×</button>
                                            {{ error }}
                                        </span>
                                    {% endfor %}
                                {% endif %}
                            </div>

                        </div>

                        <div class="form-group" id="fotoInput">
                            <label class="col-xs-3 control-label">Foto</label>
                            <div class="col-xs-9">
                                <div class="input-group">
                                    {{ foto_form.imagem }}
                                    <input id="imageName" class="form-control" disabled type="text" onload="$('#imageName').val($('#imageID').val());">
                                    <span class="input-group-btn">
                                        <button class="btn btn-link" onclick="$('input[id=imageID]').click();" type="button" style="margin-left:-1px;">
                                            Escolher
                                        </button>
                                    </span>
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-link" onclick="$('#imageName').val('');$('input[id=imageID]').val('');">
                                            <b class="fa fa-close"></b>
                                        </button>
                                    </span>
                                </div>
                                <span class="help-block">
                                    A foto deve ter o tamanho máximo de 2MB.
                                </span>
                                {% if foto_form.imagem.errors %}
                                    {% for error in foto_form.imagem.errors %}
                                        <span class="help-block alert alert-danger alert-dismissable" id="fotoWError">
                                            <button type="button" class="close" data-dismiss="alert">×</button>
                                            {{ error }}
                                        </span>
                                        <br>
                                    {% endfor %}
                                {% endif %}
                                {% if foto_form.non_field_errors %}
                                    {% for error in foto_form.non_field_errors %}
                                        <span class="help-block alert alert-danger alert-dismissable" id="fotoNFWError">
                                            <button type="button" class="close" data-dismiss="alert">×</button>
                                                {{ error }}
                                        </span>
                                    {% endfor %}
                                {% endif %}
                            </div>

                        </div>

                        <div class="form-group" id="universidadeInput">

                            <label class="col-xs-3 control-label">Universidade</label>

                            <div class="col-xs-9">

                                {{ perfil_form.universidade }}
                                {% if perfil_form.universidade.errors %}
                                    {% for error in perfil_form.universidade.errors %}
                                        <span class="help-block alert alert-danger alert-dismissable" id="universidadeWError">
                                            <button type="button" class="close" data-dismiss="alert">×</button>
                                            {{ error }}
                                        </span>
                                    {% endfor %}
                                {% endif %}

                            </div>

                        </div>

                        <div class="form-group" id="cursoInput">

                            <label class="col-xs-3 control-label">Curso</label>

                            <div class="col-xs-9">

                                {{ perfil_form.curso }}
                                {% if perfil_form.curso.errors %}
                                    {% for error in perfil_form.curso.errors %}
                                        <span class="help-block alert alert-danger alert-dismissable" id="cursoWError">
                                            <button type="button" class="close" data-dismiss="alert">×</button>
                                            {{ error }}
                                        </span>
                                    {% endfor %}
                                {% endif %}

                            </div>

                        </div>

                        <div class="form-group" id="nascimentoInput">

                            <label class="col-xs-3 control-label">Data de Nascimento</label>

                            <div class="col-xs-3" style="padding-right: 5px;">
                                {{ perfil_form.dia }}
                            </div>

                            <div class="col-xs-3" style="padding-right: 5px;">
                                {{ perfil_form.mes }}
                            </div>

                            <div class="col-xs-3">
                                {{ perfil_form.ano }}
                            </div>

                        </div>

                        {% if perfil_form.non_field_errors %}
                            {% for error in perfil_form.non_field_errors %}
                                <span class="help-block alert alert-danger alert-dismissable" id="perfilNFWError">
                                    <button type="button" class="close" data-dismiss="alert">×</button>
                                    {{ error }}
                                </span>
                            {% endfor %}
                        {% endif %}

                        {% if usuario_form.non_field_errors %}
                            {% for error in usuario_form.non_field_errors %}
                                <br>
                                <span class="help-block alert alert-danger alert-dismissable" id="usuarioNFWError">
                                    <button type="button" class="close" data-dismiss="alert">×</button>
                                    {{ error }}
                                </span>
                            {% endfor %}
                        {% endif %}
                        <div class="form-group" id="termosInput">
                            <div class="checkbox text-center">
                                <label>
                                    {{ perfil_form.termos_condicoes }}
                                    Li e concordo com os termos e condições de uso.
                                </label>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="panel-footer btn btn-primary" name="cadastroForm" style="width:100%;">Enviar</button>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="col-xs-6">

        <div class="panel panel-default">

            <div class="panel-heading">
                <b>Não sabe qual o seu e-mail da UFPE?</b>
            </div>

            <div class="panel-body text-justify">
                <div class="col-xs-12">
                    O AcadSocial utiliza do e-mail acadêmico para garantir com que seus usuários sejam
                    parte da Universidade Federal de Pernambuco.
                </div>
                <div class="col-xs-12">
                    <br>
                    O seu e-mail acadêmico pode ser facilmente encontrado no <a href="https://www.siga.ufpe.br">SIG@</a>
                    e pode ser acessado através do <a href="http://webmail.ufpe.br/zimbra/mail">WebmailUFPE</a>.
                    <b>A senha do <a href="https://www.siga.ufpe.br">SIG@</a>
                    é a mesma do <a href="http://webmail.ufpe.br/zimbra/mail">WebmailUFPE</a></b>.
                </div>
                <div class="col-xs-12 text-center">
                    <br>
                    <img src="{% static 'images/ufpemail1.png' %}" class="image-format" style="width:100%;height:100%;">
                </div>
                <div class="col-xs-12">
                    <br>
                    O <a href="https://www.siga.ufpe.br">SIG@</a> disponibiliza o e-mail do usuário em sua página inicial,
                    logo após o login (imagem acima).
                </div>
                <div class="col-xs-12 text-center">
                    <br>
                    <img src="{% static 'images/ufpemail2.png' %}" class="image-format">
                </div>
                <div class="col-xs-12">
                    <br>
                    No topo da página, ele oferece acesso ao <a href="http://webmail.ufpe.br/zimbra/mail">WebmailUFPE</a>
                    (imagem acima), o qual será usado para a confirmação da conta.
                </div>
            </div>

        </div>
        <div class="panel panel-default">

            <div class="panel-heading">
                <b>Termos e Condições de Uso</b>
            </div>

            <div class="panel-body text-justify">
                <textarea readonly id="termosCondicoes" class="form-control" rows="15" style="background: #fff;"></textarea>
            </div>

        </div>
    </div>

{% endblock %}