{% extends 'base-logado-com-topo.html' %}
{% load staticfiles %}
{% load grupos_tags %}

{% block title %}AcadSocial{% endblock %}

{% block head %}
    <script src="{% static 'jquery/1.11.1/plugins/autosize/jquery.autosize.min.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('textarea').autosize();

            $(document).scrollTop($.cookie("scroll"));

            $(window).on("scroll", function() {
                $.cookie("scroll", $(document).scrollTop());
            });

        });

        sendCommentForm = function(formID) {
            $(formID).keypress(function(e) {
                if(e.which == 13 && !e.shiftKey) {
                    e.preventDefault();
                    this.form.submit();
                }
            });
        };

        setInterval(function() {
                $.ajax({
                    url: '{% url 'index' %}',
                    success: function(data) {
                        var qtd = $('#qtdComments', data).html();
                        $('#qtdComments').html(qtd);
                    }
                });
            }, 2500);

        deleteElement = function(elID, formID) {
            $(elID).hide();
            $(formID)[0].submit();
        }

    </script>
{% endblock %}

{% block home-active %}
    class='lista-active'
{% endblock %}

{% block body %}
    <div class="vertical-space">
        <div class="col-xs-4">
            <div class="panel panel-default panel-bordeless">
                <div class="panel-heading">
                    <i class="fa fa-group"></i> Meus Grupos
                </div>
                <ul class="panel-list">
                    {% if grupos_participa|length == 0 %}
                        <li class="text-center not-link-list">Você não tem/participa de nenhum grupo!</li>
                    {% else %}
                        {% for participa in grupos_participa|slice:':10' %}
                            <li><a href="{% url 'grupo-index' participa.grupo.gid %}">{{ participa.grupo.nome }}</a></li>
                        {% endfor %}
                    {% endif %}
                </ul>
                <ul class="text-center">
                    {% if grupos_participa|length == 0 %}
                        <li><a href="{% url 'grupos-lista' %}" class="panel-footer">Criar/Participar de Grupos</a></li>
                    {% else %}
                        <li><a href="{% url 'grupos-lista' %}" class="panel-footer">Ver Todos</a></li>
                    {% endif %}
                </ul>
            </div>
            <div class="panel panel-default panel-bordeless">
                <div class="panel-heading">
                    <i class="fa fa-paint-brush"></i> Meus Interesses
                </div>
                <ul class="panel-list">
                    {% if interesses_possui|length == 0 %}
                        <li class="text-center not-link-list">Você não possui interesses!</li>
                    {% else %}
                        {% for possui in interesses_possui|slice:':10' %}
                            <li><a href="{% url 'interesse-index' possui.interesse.iid %}">{{ possui.interesse.interesse }}</a></li>
                        {% endfor %}
                    {% endif %}
                </ul>
                <ul class="text-center">
                    {% if interesses_possui|length == 0 %}
                        <li><a href="{% url 'interesses' %}" class="panel-footer">Adicionar Interesses</a></li>
                    {% else %}
                        <li><a href="{% url 'interesses' %}" class="panel-footer">Ver Todos</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>

        <div class="col-xs-8" id="feed">
            {% for postagem in postagens|slice:':10' %}
                <span id="postagem-{{ postagem.pid }}">
                    <div class="col-xs-8 no-right-padding no-left-padding">
                        <div class="panel panel-default panel-bordeless feed">
                            <div class="panel-heading truncate">
                                <div class="col-xs-11 no-padding">
                                    <a href="{% url 'grupo-post' postagem.grupo.gid postagem.pid %}">
                                        <span class="glyphicon glyphicon-edit"></span> {{ postagem.titulo }}
                                    </a>
                                </div>
                                <div class="col-xs-1 no-padding">
                                    {% if postagem.criado_por == user %}
                                        <form method="post" action="" id="postagemForm-{{ postagem.pid }}">
                                            {% csrf_token %}
                                            <button class="close" type="button" style="font-size:11pt;font-family: Open Sans, sans-serif;"
                                                    onclick="deleteElement('#postagem-{{ postagem.pid }}',
                                                            '#postagemForm-{{ postagem.pid }}')">×</button>
                                            <input type="text" name="deletePost" value="{{ postagem.pid }}" style="display: none;">
                                        </form>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="panel-body text-left truncate-line feed-group">
                                 {{ postagem.conteudo }}
                            </div>
                            <div class="panel-footer">
                                <form method="post" action="">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <textarea name="comentario" class="comment-bar form-control comment-bar-focus"
                                                  id="commentTA-{{ postagem.pid }}" maxlength="256"
                                                  placeholder="Comentar..."
                                                  onkeypress="sendCommentForm('#commentTA-{{ postagem.pid }}')"></textarea>
                                        <input name="postagem-{{ postagem.pid }}" type="text" style="display: none;">
                                    </div>
                                </form>
                            </div>
                            <span id="commentSession">
                                {% for comentario in comentario_postagem|first_five:postagem.pid %}
                                    <span id="comment-{{ postagem.pid }}-{{ comentario.cid }}">
                                        <div class="panel-body comment-start" style="padding:10px;">
                                            <div class="col-xs-1" style="padding:0;">
                                                <a href="{% url 'perfil' perfis_postagens|univ_sigla:postagem.criado_por perfis_postagens|perfil_link:postagem.criado_por %}">
                                                    <img src="/media/{{ fotos_comentarios|item:comentario.criado_por }}" class="profile-image"></a>
                                            </div>
                                            <div class="col-xs-10 comment-user no-padding" style="padding-left:20px;">
                                                &nbsp
                                                <a href="{% url 'perfil' perfis_postagens|univ_sigla:postagem.criado_por perfis_postagens|perfil_link:postagem.criado_por %}">
                                                    {{ comentario.criado_por.full_name }}
                                                </a>
                                                <br>
                                                <div class="col-xs-offset-0 truncate-line" style="padding-left:15px;">
                                                    {{ comentario.conteudo }}
                                                </div>
                                                <div class="col-xs-12 text-right no-padding comment-datetime">
                                                    <br>
                                                    {{ comentario.data_criacao|date:"d/m/Y - H:i:s" }}
                                                </div>
                                            </div>
                                            <div class="col-xs-1 no-padding" style="margin-top:-5px;">
                                                {% if comentario.criado_por == user or postagem.criado_por == user %}
                                                    <form method="post" action="" id="commentForm-{{ postagem.pid }}-{{ comentario.cid }}">
                                                        {% csrf_token %}
                                                        <button class="close" type="button" style="font-size:11pt;"
                                                                onclick="deleteElement('#comment-{{ postagem.pid }}-{{ comentario.cid }}',
                                                                        '#commentForm-{{ postagem.pid }}-{{ comentario.cid }}')">×</button>
                                                        <input type="text" name="deleteComment" value="{{ postagem.pid }}-{{ comentario.cid }}" style="display: none;">
                                                    </form>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </span>
                                {% endfor %}
                                {% if qtd_comentarios|item:postagem.pid > 0 %}
                                    <a href="{% url 'grupo-post' postagem.grupo.gid postagem.pid %}" class="panel-footer btn btn-default" style="border:0;margin-top:4px;">
                                         <span class="fa fa-comments"></span><span id="qtdComments"> {{ qtd_comentarios|item:postagem.pid }}</span>
                                         {% if qtd_comentarios|item:postagem.pid == 1 %}Comentário{% else %}Comentários{% endif %}
                                    </a>
                                {% endif %}
                            </span>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="panel panel-default panel-bordeless">
                            <div class="panel-heading truncate text-center">
                                <a href="{% url 'grupo-index' postagem.grupo.gid %}"><span class="fa fa-group"></span> {{ postagem.grupo.nome }}</a>
                            </div>
                            <div class="panel-body text-center truncate">
                                <a href="{% url 'perfil' perfis_postagens|univ_sigla:postagem.criado_por perfis_postagens|perfil_link:postagem.criado_por %}" class="feed-link">
                                    <img src="/media/{{ fotos_postagens|item:postagem.criado_por }}" class="profile-image">
                                    <br>
                                    {{ postagem.criado_por.full_name }}
                                </a>
                                <br>
                                <span class="feed-datetime">{{ postagem.data_criacao|date:"d/m/Y - H:i:s" }}</span>
                            </div>
                        </div>
                    </div>
                </span>
            {% endfor %}
        </div>

    </div>
{% endblock %}