{% extends 'base-logado-com-topo.html' %}
{% load staticfiles %}

{% block title %} {% endblock %}

{% block top-navbar-right %}
    <li class="divider-vertical"></li>
    <li class="lista-active"><a href=""><i class="fa fa-home"></i> Página inicial</a></li>
    <li class="divider-vertical"></li>
    <li><a href=""><i class="fa fa-users"></i> Grupos</a></li>
    <li class="divider-vertical"></li>
    <li><a href=""><i class="fa fa-graduation-cap"></i> Interesses</a></li>
    <li class="divider-vertical"></li>
    <li><a href=""><i class="fa fa-comments"></i> Amigos</a></li>
    <li class="divider-vertical"></li>
{% endblock %}

{% block body %}
    <div class="vertical-space">
        <div class="col-xs-4">
            <div class="panel panel-default panel-bordeless">
                <div class="panel-heading">

                </div>
                <div class="panel-body">
                    &nbsp
                </div>
            </div>
        </div>

        <div class="col-xs-8">
            <div class="panel panel-default panel-bordeless">
                <div class="panel-heading">

                </div>
                <div class="panel-body">
                    &nbsp
                </div>
            </div>
        </div>
    </div>
{% endblock %}