{% extends 'base.html' %}
{% load staticfiles %}

{% block title %} Bem-vindo! {% endblock %}

{% block nav-container %}
	<div class="nav navbar-right">
		<div class="dropdown">
			<a class="btn default-btn dropdown-toggle" href="#" data-toggle="dropdown">
				Entrar
			</a>
			<div class="dropdown-menu">
				<form class="form" method="post">
					{% csrf_token %}
					<b class="form-label">
						Entre no AcadSocial!
					</b>
					<br/>
					{{ login_form.email }}
					{{ login_form.password }}
					<br/>
					<button type="submit" class="btn default-btn">
						Entrar
					</button>&nbsp
					<a href="{% url 'senha-reset' %}" class="btn default-btn">Esqueci a senha</a>
				</form>
			</div>
		</div>
	</div>
	<div class="nav navbar-right">
		<a href="{% url 'cadastro' %}" class="btn default-btn">Cadastre-se</a>&nbsp&nbsp
	</div>
{% endblock %}