{% extends 'base-sem-login.html' %}
{% load staticfiles %}

{% block title %} Bem-vindo! {% endblock %}

{% block head %}
    <script type="text/javascript">
        $(document).ready(function(){
            $('#emailInput').on('keypress click', function() {
                $('#emailWError').hide();
                $('#loginNFWError').hide();
            });

            $('#senhaInput').on('keypress click', function() {
                $('#senhaWError').hide();
                $('#loginNFWError').hide();
            });
        });
    </script>
{% endblock %}

{% block body %}
    <div class="acad-title text-center">
        <a href="{% url 'index' %}"><b class="fa fa-graduation-cap"></b>Acad<b>Social</b></a>
    </div>
    <br><br>
    <div class="col-lg-6 col-lg-offset-3">
        <form class="form-horizontal" method="post" enctype="multipart/form-data" action="">
            {% csrf_token %}
            <fieldset>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <legend>Entrar no AcadSocial</legend>
                        <br>
                        <div class="form-group" id="emailInput">
                            <div class="input-group col-lg-10 col-lg-offset-1">
                                <span class="input-group-addon">
                                    <b class="ultra-bold" style="font-size:13pt;">@</b>
                                </span>
                                {{ login_form.email }}
                            </div>
                            {% if login_form.email.errors %}
                                {% for error in login_form.email.errors %}
                                    <span class="help-block alert alert-danger alert-dismissable col-lg-10 col-lg-offset-1" id="emailWError">
                                        <button type="button" class="close" data-dismiss="alert">×</button>
                                        {{ error }}
                                    </span>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <div class="form-group" id="senhaInput">
                            <div class="input-group col-lg-10 col-lg-offset-1">
                                <span class="input-group-addon">
                                    <i class="fa fa-lock" style="font-size:14pt;"></i>&nbsp
                                </span>
                                {{ login_form.password }}
                            </div>
                            {% if login_form.password.errors %}
                                {% for error in login_form.password.errors %}
                                    <span class="help-block alert alert-danger alert-dismissable col-lg-10 col-lg-offset-1" id="senhaWError">
                                        <button type="button" class="close" data-dismiss="alert">×</button>
                                        {{ error }}
                                    </span>
                                {% endfor %}
                            {% endif %}
                            {% if login_form.non_field_errors %}
                                {% for error in login_form.non_field_errors %}
                                    <span class="help-block alert alert-danger alert-dismissable col-lg-10 col-lg-offset-1" id="loginNFWError">
                                        <button type="button" class="close" data-dismiss="alert">×</button>
                                        {{ error }}
                                    </span>
                                    <br>
                                {% endfor %}
                            {% endif %}
                        </div>

                        <a href="{% url 'senha-reset' %}" class="col-lg-5"><span class="glyphicon glyphicon-remove-circle"></span> Esqueci minha senha</a>
                        <a href="{% url 'reativar' %}" class="col-lg-7"><span class="glyphicon glyphicon-envelope"></span> Não recebi o e-mail de ativação</a>
                    </div>
                    <button class="btn btn-primary panel-footer full-width" name="loginForm">Enviar</button>
                </div>
            </fieldset>
        </form>
    </div>

{% endblock %}