{% extends 'base-logado-topo-vazio.html' %}

{% block title %}
    {{ usuario.full_name }} - AcadSocial
{% endblock %}

{% block head %}
{% endblock %}

{% block top-navbar-right %}
    <li class="divider-vertical"></li>
    <li><a href="{% url 'index' %}"><i class="fa fa-home"></i> Página inicial</a></li>
    <li class="divider-vertical"></li>
    <li><a href="{% url 'perfil' pag_perfil.universidade.sigla_campus pag_perfil.perfil_link %}">
        <i class="fa fa-user"></i> Perfil de {{ pag_perfil.usuario.first_name }}</a></li>
    <li class="divider-vertical"></li>
    <li class="lista-active"><a href=""><i class="fa fa-info-circle"></i> Sobre {{ pag_perfil.usuario.first_name }}</a></li>
    <li class="divider-vertical"></li>
{% endblock %}

{% block body %}
    <div class="vertical-space">
        <div class="col-xs-4">
            <div class="panel panel-default panel-bordeless">
                <div class="panel-heading text-center">
                    @ {{ pag_perfil.perfil_link }}
                </div>
                <div class="panel-body text-center truncate-line border-sides">
                    <img src="/media/{{ pag_foto.thumbnail_perfil }}" class="profile-image-big">
                    <br>
                    <a href="" class="feed-link"><span class="fa fa-user"></span> {{ usuario.full_name }}</a>
                </div>
                <div class="panel-heading perfil-about-heading">
                    <span class="fa fa-info-circle"></span> Sobre
                </div>
                <div class="panel-heading perfil-about-body">
                    <span class="fa fa-graduation-cap"></span> {{ universidade.sigla }} ({{ universidade.campus }})
                </div>
                <div class="panel-heading perfil-about-body">
                    <span class="fa fa-book"></span> {{ pag_perfil.curso }}
                </div>
                <div class="panel-heading perfil-about-body">
                    <span class="fa fa-birthday-cake"></span> {{ aniversario }} &nbsp({{ idade }} anos)
                </div>
                {% if perfil != pag_perfil and not amigo and not convite_amigo %}
                    <form method="POST">
                        {% csrf_token %}
                        <button class="panel-footer text-center" style="margin-top:0;" name="adicionarAmigo">
                            <span class="glyphicon glyphicon-plus-sign"></span> Adicionar
                        </button>
                    </form>
                {% elif perfil == pag_perfil %}
                    <div class="panel-footer text-center" style="margin-top:0;">
                        Este é o seu perfil
                    </div>
                {% elif convite_amigo and not amigo %}
                    <div class="panel-footer text-center" style="margin-top:0;">
                        Você adicionou {{ pag_perfil.usuario.first_name }}
                    </div>
                {% elif amigo %}
                    <div class="panel-footer text-center" style="margin-top:0;">
                        {{ pag_perfil.usuario.first_name }} é seu amigo
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="col-xs-8">
            {% if interesses|length > 0 %}
                <div class="col-xs-12">
                    <div class="panel panel-default panel-bordeless">
                        <div class="panel-heading text-center">
                            <span class="fa fa-paint-brush"></span> Interesses de {{ usuario.first_name }}
                        </div>
                    </div>
                </div>
                {% for item in interesses %}
                    <div class="col-xs-6" style="margin-top:-5px;">
                        <div class="panel panel-default panel-bordeless">
                            <ul class="panel-list" style="margin-bottom:0;">
                               <li><a href="{% url 'interesse-index' item.interesse.iid %}" style="padding-left:10px;">
                                    <span class="fa fa-paint-brush" style="color: #7C0B1F;"></span> &nbsp{{ item.interesse|capfirst }}
                               </a></li>
                            </ul>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
            {% if grupos|length > 0 %}
                <div class="col-xs-12">
                    <div class="panel panel-default panel-bordeless">
                        <div class="panel-heading text-center">
                            <span class="fa fa-group"></span> Grupos de {{ usuario.first_name }}
                        </div>
                    </div>
                </div>
                {% for item in grupos %}
                    <div class="col-xs-6" style="margin-top:-5px;">
                        <div class="panel panel-default panel-bordeless">
                            <ul class="panel-list" style="margin-bottom:0;">
                               <li><a href="{% url 'grupo-index' item.grupo.gid %}" style="padding-left:10px;">
                                    <span class="fa fa-group" style="color: #7C0B1F;"></span> &nbsp{{ item.grupo.nome|capfirst }}
                               </a></li>
                            </ul>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
            {% if amigos.iteritems|length > 0 %}
                <div class="col-xs-12">
                    <div class="panel panel-default panel-bordeless">
                        <div class="panel-heading text-center">
                            <span class="fa fa-comments"></span> Amigos de {{ usuario.first_name }}
                        </div>
                    </div>
                </div>
                {% for amizade, amigo_foto in amigos.iteritems %}
                    <div class="col-xs-6" style="margin-top:-5px;">
                        <div class="panel panel-default panel-bordeless">
                            <ul class="panel-list panel-list-friends" style="margin-bottom:0;">
                               <li><a href="{% url 'perfil' amizade.amigo.universidade.sigla_campus amizade.amigo.perfil_link %}" style="padding-left:0;">
                                   <img style="border-right:3px solid #e7e7e7;" src="/media/{{ amigo_foto.thumbnail }}">
                                   &nbsp;&nbsp;{{ amizade.amigo.usuario.full_name|capfirst }}
                               </a></li>
                            </ul>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}