{% extends 'base.html' %}

{% block title %} Redefinir senha {% endblock %}

{% block body %}
    <div class="acad-title text-center">
        <a href="{% url 'index' %}"><b class="fa fa-graduation-cap"></b>Acad<b>Social</b></a>
    </div>
    <br><br>
    <div class="col-lg-6 col-lg-offset-3">
        <div class="panel panel-default">
            <div class="panel-body">
                <legend>Redefinição de senha</legend>
                <div class="text-center">
                    <b style="font-size:16pt;">E-mail enviado!</b>
                </div>
                <div class="text-left col-lg-11 col-lg-offset-1">
                    <br>
                    Cheque sua caixa de entrada em <b>{{ user_email }}</b> para redefinir sua senha.
                    <br><br>
                </div>
            </div>
            <a href="{% url 'login' %}" class="panel-footer btn btn-primary full-width" style="color:#fff;" >Retornar à página de login</a>
        </div>
    </div>

{% endblock %}