{% extends 'base.html' %}

{% block title %} Redefinir senha {% endblock %}

{% block body %}
    <div class="acad-title text-center">
        <a href="{% url 'index' %}"><b class="fa fa-graduation-cap"></b>Acad<b>Social</b></a>
    </div>
    <br><br>
    <div class="col-xs-6 col-xs-offset-3">
        <div class="panel panel-default">
            <div class="panel-body">
                <legend>Redefinição de senha</legend>
                <div class="text-center">
                    <br>
                    <b style="font-size:14pt;">Sua senha foi alterada com sucesso!</b>
                    <br><br><br>
                </div>
            </div>
            <a href="{% url 'index' %}" class="panel-footer btn btn-primary full-width" style="color:#fff;" >Retornar à página inicial</a>
        </div>
    </div>

{% endblock %}