<!DOCTYPE html>
<head>
    {% include 'includes/head.html' %}
</head>

<body class="error-page">
    <div class="container text-center">
        <div class="acad-title-error" style="font-size: 90pt;font-weight: 700;">
            <a href=""><span class="fa fa-graduation-cap"></span>AcadSocial</a>
        </div>
        <div style="font-size:150pt">
            404
        </div>
        <div style="font-size:20pt">
            Página Não Encontrada
        </div>
        <div style="font-size: 15pt">
            Clique no nome "AcadSocial" ou retorne para página anterior.
        </div>
    </div>
</body>