<!DOCTYPE html>
<head>
    {% include 'includes/head.html' %}
</head>

<body class="error-page">
    <div class="container text-center">
        <div class="acad-title-error" style="font-size: 90pt;font-weight: 700;">
            <a href=""><span class="fa fa-graduation-cap"></span>AcadSocial</a>
        </div>
        Opa! Um erro inesperado ocorreu!
        <br>
        <br>
        <div style="font-size:20pt">
            Clique no nome "AcadSocial" ou retorne para página anterior.
        </div>
        <div style="font-size: 15pt">
            Se quiser nos ajudar a deixar o AcadSocial mais incrivel ainda, <a href="#" style="color:#999;">clique aqui</a> e reporte esse bug!
        </div>
    </div>
</body>