<!DOCTYPE html>
{% load static from staticfiles %}

<html lang="en">
    <head>
        {% include 'includes/head.html' %}
        <title>{% block title %}{% endblock %}</title>
        {% block head %} {% endblock %}
    </head>
    <body>

        <div class="navbar navbar-default navbar-static-top">

            <div class="container">

                <div class="navbar-header">
                    <a class="navbar-brand" href="{% url 'index' %}">Acad<b>Social</b></a>
                </div>

                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-left">
                        <li class="blank-divider-vertical"></li>
                        <li class="search-bar">
                            <form method="get" action="{% url 'search' %}" enctype="multipart/form-data">
                                <span class="input-group">
                                    {{ pesquisa_form.q }}
                                    <span class="input-group-btn">
                                        <button class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
                                    </span>
                                </span>
                            </form>
                        </li>
                        <li class="dropdown pos-search-bar">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-exclamation-sign"></span>
                                <span class="notifications-icon"> 10</span>
                            </a>
                            <div class="dropdown-menu panel panel-default notifications-dropdown">
                            </div>
                        </li>

                        {% block navbar-left %} {% endblock %}
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        {% include 'includes/navbar-right-dropdown.html' %}
                        {% block navbar-right %} {% endblock %}
                    </ul>
                </div>

            </div>

        </div>
        <div class="outside">
            {% block top %} {% endblock %}
        </div>
        <div class="container">
            {% block body %} {% endblock %}
        </div>

    </body>
</html>