<!DOCTYPE html>
{% load static from staticfiles %}

<html lang="en">
    <head>
        {% include 'includes/head.html' %}
        <title>{% block title %}{% endblock %}</title>
        <script src="{% static 'jquery/1.11.1/plugins/cookie-master/jquery.cookie.js' %}"></script>
        {% block head %} {% endblock %}
    </head>
    <body>

        <div class="navbar navbar-default navbar-static-top">

            <div class="container">

                <div class="navbar-header">
                    <a class="navbar-brand" href="{% url 'index' %}">Acad<b>Social</b></a>
                </div>

                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-left">
                        <li class="blank-divider-vertical"></li>
                        <li class="search-bar">
                            <form method="get" action="{% url 'search' %}" enctype="multipart/form-data">
                                <span class="input-group">
                                    {{ pesquisa_form.q }}
                                    <span class="input-group-btn">
                                        <button class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
                                    </span>
                                </span>
                            </form>
                        </li>
                        {% include 'includes/navbar-notifications.html' %}
                        {% block navbar-left %} {% endblock %}
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        {% include 'includes/navbar-right-dropdown.html' %}
                        {% block navbar-right %} {% endblock %}
                    </ul>
                </div>

            </div>

        </div>
        <div class="outside">
            <div class="navbar navbar-default usuario-info-topo square">
                <div class="container">
                    <ul class="nav navbar-nav navbar-left info-topo-panel">
                        {% block -navbar-left %} {% endblock %}
                        <li class="info-topo-nome">
                            <a href="{% url 'perfil' perfil.universidade.sigla perfil.perfil_link %}">
                                <img src="/media/{{ foto.thumbnail_home }}" width="68" height="68" class="profile-image">
                                {{ perfil.usuario.first_name }} {{ perfil.usuario.last_name }}
                            </a>
                        </li>

                    </ul>
                    <ul class="nav navbar-nav navbar-right info-topo-lista">
                        <li class="divider-vertical"></li>
                        <li {% block home-active %}{% endblock %}><a href="{% url 'index' %}"><i class="fa fa-home"></i> Página inicial</a></li>
                        <li class="divider-vertical"></li>
                        <li {% block groups-active %}{% endblock %}><a href="{% url 'grupos-lista' %}"><i class="fa fa-users"></i> Grupos</a></li>
                        <li class="divider-vertical"></li>
                        <li {% block interests-active %}{% endblock %}><a href="{% url 'interesses' %}"><i class="fa fa-paint-brush"></i> Interesses</a></li>
                        <li class="divider-vertical"></li>
                        <li {% block convites-active %}{% endblock %}><a href="{% url 'convites' %}"><i class="fa fa-envelope"></i> Convites</a></li>
                        <li class="divider-vertical"></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container">
            {% block body %} {% endblock %}
        </div>

    </body>
</html>